<div class="row">
  <div class="col-12">
    <img 
    src="{{recipe.imagePath}}" 
    alt="{{recipe.name}}" 
    class="img-fluid"
    style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button 
      class="btn btn-primary" 
      type="button" 
      data-toggle="dropdown">
      manage recipe
    </button>
      <div class="dropdown-menu">
        <a href="" class="dropdown-item">add ingredients</a>
        <a href="" class="dropdown-item">edit recipe</a>
        <a href="" class="dropdown-item">delete recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-12">
    ingredients
  </div>
</div>