<div class="row">
  <div class="col-12">
    <img src="" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>recipe name</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button 
      class="btn btn-primary" 
      type="button" 
      data-toggle="dropdown">
      manage recipe
    </button>
      <div class="dropdown-menu">
        <a href="" class="dropdown-item">add ingredients</a>
        <a href="" class="dropdown-item">edit recipe</a>
        <a href="" class="dropdown-item">delete recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    description
  </div>
</div>
<div class="row">
  <div class="col-12">
    ingredients
  </div>
</div>